

form{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin: auto;
    padding: 5em;

}

div{
    display: flex;
    justify-content: center;
    margin: 1em 0;
}

.shadow{
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.75);
    border-radius: 30px;
}


